<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ContactCenterWorkflowEntities" 
         connectionString="metadata=res://*/ContactCenterWorkflow.csdl|res://*/ContactCenterWorkflow.ssdl|res://*/ContactCenterWorkflow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ContactCenterWorkflow;initial catalog=ContactCenterWorkflow;integrated security=False;User Id=contactcenter;Password=contactcenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ida:FederationMetadataLocation" value="https://adfs.hill30.com/FederationMetadata/2007-06/FederationMetadata.xml"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:Issuer" value="https://adfs.hill30.com/adfs/ls/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:ProviderSelection" value="productionSTS"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add xdt:Transform="RemoveAll" />
        <add value="https://adfs.hill30.com/public/contactcenterworkflow/" xdt:Transform="Insert"/>
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel>
    <identityConfiguration>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <!--<add xdt:Transform="RemoveAll" />-->
        <authority name="http://adfs.hill30.com/adfs/services/trust" xdt:Transform="Replace">
          <keys>
            <add thumbprint="1079336131C60B322E6F5AA01AF040D07DDE561E" />
          </keys>
          <validIssuers>
            <add name="http://adfs.hill30.com/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration xdt:Transform="Replace">
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://adfs.hill30.com/adfs/ls/" realm="https://adfs.hill30.com/public/contactcenterworkflow/" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>