<div class="main-container" ng-controller="callController">

	<!--main-container-->
	<div class="container">

		<!--row-->
		<div class="row">

			<!--callTypeSearchForm-->
			<div class="col-xs-3" ng-switch="call.type">
				<div ng-switch-when="I">
					<div ng-include="'views/call/inbound.html'"></div>
				</div>
				<div ng-switch-when="O">
					<div ng-include="'views/call/outbound.html'"></div>
				</div>
				<div ng-switch-when="S">
					<div ng-include="'views/call/search.html'"></div>
				</div>
			</div>
			<!--/callTypeSearchForm-->


			<!--searchResultsGrid-->
			<div class="col-xs-9">
				<div ng-include src="'views/call/searchResults.html'" ng-show="call.type == 'I'"></div>
			</div>
			<!--/searchResultsGrid-->

		</div>
		<!--/row-->

	</div>
	<!--main-container-->

</div>