<!--menu-reasons-wrap-->
<div class="menu-reasons-wrap">

	<!--container-->
	<div class="container">

		<!--menu-reasons-wrap-inn-->
		<div class="menu-reasons-wrap-inn">

			<!--menu-reasons-toggle-buttom-wrap-->
			<div class="menu-reasons-toggle-buttom-wrap" ng-show="processContainer.list.length > 7">
				<div class="menu-reasons-toggle-buttom menu-reasons-toggle-buttom-more"
					 ng-hide="isProcessMenuExpanded" ng-click="isProcessMenuExpanded = true">More...</div>
				<div class="menu-reasons-toggle-buttom menu-reasons-toggle-buttom-less"
					 ng-show="isProcessMenuExpanded" ng-click="isProcessMenuExpanded = false">Less...</div>
			</div>
			<!--/menu-reasons-toggle-buttom-wrap-->

			<!--menu-reasons-->
			<ul class="menu-reasons" ng-class="{more: isProcessMenuExpanded}">

				<!--menu-reasons-item-->
				<li ng-repeat="process in processContainer.list" class="menu-reasons-item">

					<!--menu-reasons-item-inn-->
					<span class="menu-reasons-item-inn" ng-switch="!!process.reasons">

						<!--menu-reasons-item-inn2-->
						<span class="menu-reasons-item-inn2" ng-switch-when="true">
							<span class="menu-reasons-link">{{process.name}}</span>

							<div class="menu-reasons-sub">
								<span class="menu-reasons-sub-title">{{process.name}}</span>
								<ul>
									<li ng-repeat="reason in process.reasons">
										<a ng-click="startProcess(process, reason)">{{reason.name}}</a>
									</li>
								</ul>
							</div>
						</span>
						<!--/menu-reasons-item-inn2-->

						<!--menu-reasons-item-inn2-->
						<span class="menu-reasons-item-inn2" ng-switch-when="false">
							<span class="menu-reasons-link" ng-click="startProcess(process)">{{process.name}}</span>
						</span>
						<!--/menu-reasons-item-inn2-->

					</span>
					<!--menu-reasons-item-inn-->

				</li>
				<!--/menu-reasons-item-->

			</ul>
		<!--menu-reasons-->

		</div>
		<!--menu-reasons-wrap-inn-->

	</div>
	<!--/container-->

</div>
<!--/menu-reasons-wrap-->

